*:focus {
  outline: none;
}

* {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.alkali_metals {
  background: #F9E2AE;
}

.alkali_earth_metals {
  background: #F8C596;
}

.transition_metal {
  background: #CDC2E0;
}

.halogens {
  background: #B2D8C1;
}

.noble_gases {
  background: #FFFFFF;
}

.actioids {
  background: #BEE4F7;
}

.rare_earth {
  background: #E9EBA9;
}

.other_metals {
  background-color: #EFD2D7;
}

.other_non_metals {
  background-color: #EDAB88;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

main {
  height: 100%;
}

main, header, section {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 9%;
  text-align: center;
}

section:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 79%;
}

section:nth-child(2) > div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main_elements_tb {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[19];
      grid-template-columns: repeat(19, 50px);
  -ms-grid-rows: (50px)[8];
      grid-template-rows: repeat(8, 50px);
  gap: 5px;
  margin-bottom: 30px;
}

.main_elements_tb,
.other_elements_tb {
  font-size: 12px;
}

.cell {
  position: relative;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.element_number {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 2px;
  top: 2px;
}

.element_number,
.element_name {
  font-weight: 700;
}

.element_name {
  position: absolute;
  bottom: 3px;
  font-size: 2em;
}

#group_tag,
#period_tag,
.top_numbering,
.empty {
  border: none;
}

#period_tag div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#group_tag div {
  position: absolute;
}

#group_tag div:nth-child(2) {
  bottom: 0;
}

.other_elements_tb {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: 130px auto;
      grid-template-columns: 130px auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: -23px;
}

.other_elements_tb > div {
  display: -ms-grid;
  display: grid;
}

.other_elements_tb > div:first-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 50px;
      grid-template-columns: 75px 50px;
  gap: 5px;
}

.other_elements_tb > div:nth-child(2) {
  -ms-grid-columns: (50px)[14];
      grid-template-columns: repeat(14, 50px);
  -ms-grid-rows: (50px)[2];
      grid-template-rows: repeat(2, 50px);
  gap: 5px;
}

.row_tag {
  font-weight: 500;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
}

.row_tag,
.side_numbering {
  border: none;
}

.side_numbering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.top_numbering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

section:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12%;
  width: 100%;
  border: 1px solid gery;
}

section:nth-child(3) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 75%;
}

section:nth-child(3) > div div:nth-child(odd) {
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

section:nth-child(3) > div div:nth-child(even) {
  font-size: 12px;
  width: 60px;
}

section:nth-child(3) > div div:nth-child(14) {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
